{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Восстановление пароля</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/change_password" class="needs-validation">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="new_password" placeholder="Новый пароль"
                           autofocus="" required>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="new_password_confirm" placeholder="Новый пароль"
                           autofocus=""
                           required>
                </div>
            </div>
            {% if need_phrase %}
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="phrase" placeholder="Новая фраза"
                           autofocus=""
                           required>
                </div>
            </div>
            {% endif %}
            <div hidden class="field">
                <div class="control">
                    <input hidden name="token" value={{ token }}>
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Продолжить</button>
        </form>
    </div>
</div>
{% endblock %}